*{
    margin: 0;
    font-family: Arial;
    border:border-box;
}
/*entire nav bar*/
.navbar{
    height:60px;
    background-color: #0f1111 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*BOX1 AMAAZON LOGO*/
.nav-logo{/*outer div for amazon logo*/
    height: 50px;
    width: 100px;
}
.logo{/*amazon logo inside nav-logo div*/
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{/*class given to my amazon logo */
    border: 1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/*BOX2 DELIVER TO*/
.address1{
    color: #cccccc;
    font-size: em;
    margin-left: 15px;

}
.address2{
   font-size: 1rem;
   margin-left: 3px;
}
.address-Icon{
    display: flex;
    align-items: center;
}
/*BOX3 SEARCH BAR*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    height:40px;
    width:620px; 
    border-radius:4px;
    
}

.select-all{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border: none;
}
.search-amazon{
    width: 100%;
    font-size: .95rem;
    border: none;
    
}
.search-logo{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}
/*BOX4 COUNTRY*/
.country{
    display: flex;
    height: 20px;
    width: 20px;
}
.en{
    font-weight: 300;
    font-size: 0.85rem;
}

/*BOX5*/
.nav1{
    font-size: 0.7rem;
}
.nav2{
    font-size: 0.85rem;
    font-weight: 700;
}
/*BOX6*/
.cart i{
   font-size: 30px ;
}
.cart{
    font-weight: 700;
    font-size: 0.85rem;
}
/*PANEL*/
.panelbar{
    height: 40px;
    display: flex;
    color: white;
    background-color: #222f3d;
    align-items: center;
    justify-content: space-evenly;

}
.text p{
    display: inline;
    margin-left: 10px;
}
.text{
    width: 70%;
    font-size: 0.85rem
}
.shop{
    font-size: 0.9rem;
    font-weight: 700;
}
/*MAIN SECTION*/
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-msg{
    background-color: #cccccc;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

    
}
.hero-msg a{
    color: #007185;
}
/*shopping*/
.shop-sec{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #e2e7e6;
}
.box{
    height:400px;
    width: 20%;
    background-color: #f5f0f0;
    margin: 30px;
    margin-top: 0px;
    padding:20px 0px 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin: 1rem;
    object-fit: contain;


}
.boxmargin{
    margin-left: 10px;
    margin-right: 10px;

}
.boxmargin p{
    color:#007185 ;
}
/*footer*/
.foot1{
    color: white;
    background-color: #37475a;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 15px;

}
.foot2{
    background-color: #222f3d;
    color: #e2e7e6;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
}
ul p{
    margin-top: 20px;
    font-weight: 600;
}
.foot3{
    color: white;
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height:70px;
    display:flex;
    justify-content:center;
    align-items: center;

    
}
.logo{
    background-image: url('amazon_logo.png');
    background-size:cover;
    height:50px;
    width : 100px;

}
.foot4{
    background-color: #0f1111;
    color: white;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    height: 80px;
    width: 100%;
    
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;


}
.copy{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}
